.dashboard-header {
  padding-top: calc(12 / 1080 * 100vh);
  width: calc(900 / 1920 * 100vw);
  height: calc(80 / 1080 * 100vh);
  background-image: url('@/assets/img/dashboard/header-login.png');
  background-size: 100% 100%;
  left: calc(50% - 450 / 1920 * 100vw);
  font-size: calc(32 / 1080 * 100vh);
}
